
  <div style="height: 30px"></div>
  <footer class="footer bg-primary p-5 text-light">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p>Copyright &copy; 2019. Mijo Lučić</p>
          <p>Fakultet organizacije i informatike Varaždin</p>
        </div>
        <div class="col-4">
          <p>Napomena: Aplikacija je dio istraživačkog dijela završnog rada na temu "Prakse testiranja programskih proizvoda"</p>
        </div>
        <div class="col-4">
          <p>Istraživački dio završnog rada na temu: "Prakse testiranja programskih proizvoda"</p>
        </div>
      </div>
    </div>
  </footer>
