
  <div style="height: 30px"></div>
  <footer class="footer bg-primary p-5 text-light">
    <div class="container" style="min-height: 0px">
      <div class="row">
        <div class="col-3">
          <img src="images/logo-head.png" alt="logo" width="100px">
        </div>
        <div class="col-3">
          <p>Copyright &copy; 2019. Mijo Lučić</p>
          <p>Fakultet organizacije i informatike Varaždin</p>
        </div>
        <div class="col-3">
          <p>Napomena: Aplikacija je dio istraživačkog dijela završnog rada na temu "Prakse testiranja programskih proizvoda"</p>
        </div>
        <div class="col-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Rezultati testiranja Wiresharka</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
