
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
    <a class="navbar-brand head-text" href="/">
      <img src="images/logo-head.png" width="50" height="50" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link head-text" href="/" >PoÄetna</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link head-text" href="videosnimanje">Snimanje videa i zvuka</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link head-text" href="snimanjeekrana">Snimanje zaslona</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <a class="nav-link head-text" style="color:white" href="#">Testiranje ...</a>
        <a class="nav-link head-text" style="color:white" href="#">Testiranje ...</a>
      </div>
    </div>
  </nav>
  <div style="height: 15px"></div>
