<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/head %>
  </head>
  <body>
  <% include partials/header %>

  <div class="container">
    <div class="jumbotron">
      <img src="images/logo-stre.png" style="float: left; display: inline;">
      <div style="text-align: right; display: inline;">
        <h1 class="display-3">SVEA</h1>
        <p class="lead">Snimajte video, ekran ili zvuk pomoću multimedijalne aplikacije</p>
        <hr class="my-4">
        <p>Sve što vam treba je web kamera i mikrofon.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="videosnimanje">Snimanje videa i zvuka</a>
          <a class="btn btn-secondary btn-lg" href="snimanjeekrana">Snimanje zaslona</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Video snimanje</h4>
                <h6 class="card-subtitle mb-2 text-muted">Potrebna web kamera</h6>
                <img style="width: 100%; display: block;" src="images/videosnimanje-scrshot.png" alt="Video snimanje">
                <p class="card-text">Nudimo Vam jednostavno online snimanje putem web kamere. Možete birati kameru, zvuk, rezoluciju i dr.</p>
                <a href="videosnimanje" class="btn btn-primary">Pokrenite</a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Snimanje zaslona</h4>
                <h6 class="card-subtitle mb-2 text-muted">Samo pomoću Chrome i Firefox preglednika</h6>
                <img style="width: 100%; display: block;" src="images/snimanjezaslona-scrshot.png" alt="Snimanje zaslona">
                <p class="card-text">Nudimo jednostavno snimanje rada zaslona uz Vaše dopuštenje pregledniku.</p>
                <a href="snimanjeekrana" class="btn btn-primary">Pokrenite</a>
              </div>
            </div>
          </div>
          <!--<div class="col-4">-->
            <!--<div class="card">-->
              <!--<div class="card-body">-->
                <!--<h4 class="card-title">Snimanje zvuka</h4>-->
                <!--<h6 class="card-subtitle mb-2 text-muted">Potreban mikrofon</h6>-->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--<a href="#" class="card-link">Card link</a>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer %>

  </body>
</html>
