<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/head %>

    <!--<script src="/js/PeerConnection.js" type="text/javascript"></script>-->
    <!--<script src="/js/client.js" type="text/javascript"></script>-->
    <script src="https://cdn.webrtc-experiment.com/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  </head>
  <body>
  <% include partials/header %>

  <div class="container">

    <div class="row">
      <div class="col-12">

        <!--<video id="myVideoTag" autoplay></video>-->
        <!--<video id="theirVideoTag" autoplay></video>-->
        <!--<div>-->
          <!--<label>Your Name</label><input id="myName" type="text"/>-->
          <!--<label>Message</label><input id="myMessage" type="text"/>-->
          <!--<input id="sendMessage" type="submit"/>-->
          <!--<div id="chatArea">Message Output:</br></div>-->
          <!--<div id="signalingArea">Signaling Messages:</br></div>-->
        <!--</div>-->

        <label>Your ID:</label><br/>
        <textarea id="yourId"></textarea><br/>
        <label>Other ID:</label><br/>
        <textarea id="otherId"></textarea>
        <button id="connect">connect</button><br/>

        <label>Enter Message:</label><br/>
        <textarea id="yourMessage"></textarea>
        <button id="send">send</button>
        <pre id="messages"></pre>


      </div>
    </div>
  </div>

  <% include partials/footer %>


  <script>

    var getUserMedia = require('getusermedia')

    getUserMedia({ video: true, audio: false }, function (err, stream) {
      if (err) return console.error(err)

      var Peer = require('simple-peer')
      var peer = new Peer({
        initiator: location.hash === '#init',
        trickle: false,
        stream: stream
      })

      peer.on('signal', function (data) {
        document.getElementById('yourId').value = JSON.stringify(data)
      })

      document.getElementById('connect').addEventListener('click', function () {
        var otherId = JSON.parse(document.getElementById('otherId').value)
        peer.signal(otherId)
      })

      document.getElementById('send').addEventListener('click', function () {
        var yourMessage = document.getElementById('yourMessage').value
        peer.send(yourMessage)
      })

      peer.on('data', function (data) {
        document.getElementById('messages').textContent += data + '\n'
      })

      peer.on('stream', function (stream) {
        var video = document.createElement('video')
        document.body.appendChild(video)

        video.src = window.URL.createObjectURL(stream)
        video.play()
      })
    })

  </script>
  </body>
</html>
