body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*WebRTC customisation*/
.grayscale_filter {
  -webkit-filter: saturate(0.03);
  filter: saturate(0.03);
}